<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <!--HEAD-->
    <head th:replace="/fragments/head :: head"></head>
        
    
    <body>
        <!--NAVBAR-->
        <nav th:replace="/fragments/navBar :: nav"></nav>

       
        
        <br>
          <main>
            <section>
                <article>
                     <h2>

                        Portal De Noticias Independiente

                     </h2>
                     
                     <h5>Donde las noticias viven</h5>
                    <div class="card-body">   
                       <a th:href="@{/noticia/lista}" class="btn btn-primary">Ver noticias</a>
                </article>
            </section>
           
        </main>
         
        
         <!--ALERTS-->
                <div th:if="${error != null}" class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Error</div>
                    <div class="card-body">
                        <h5 class="card-title">Error Fatal</h5>
                        <p class="card-text" th:text="${error}" ></p>   Traemos el modelo con la llave "error" 
                    </div>

                    <div th:if="${exito != null}" class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Exito</div>
                        <div class="card-body">
                            <h5 class="card-title">Super Exitoso</h5>
                            <p class="card-text" th:text="${exito}" ></p>
                        </div>
                    </div>

                </div>
        
         <footer>
        <p>&copy; 2023 Mi Empresa. Todos los derechos reservados.</p>
    </footer>  
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
